[Unit]
Description=Blessing Tree Celery Worker
After=network.target

[Service]
Type=simple
User=blessingtree
Group=blessingtree
WorkingDirectory=/opt/blessing-tree/current/blessing-tree-api
EnvironmentFile=/opt/blessing-tree/shared/api.env
ExecStart=/opt/blessing-tree/current/blessing-tree-api/.venv/bin/celery -A app.celery.celery worker -Q bt --loglevel=INFO
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
